<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vikash Pizza</title>
  </head>
  <body>

    <div class="topCompany">
      <h1>Vikash Pizza</h1>
      <h2>No. 1, Shollinganallur, Chennai, 600119</h2>
    </div>

    <h1>My Pizza List</h1>

		<div class="selectPizza">
      <ul>
        {% for pizza in pizzas %}
            <li>{{ pizza.name }}</li>
        {% endfor %}
      </ul>
    </div>
    <h4>No of pizza available : {{pizzasCount}}</h4>
  </body>
</html>
