<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vikash Pizza</title>
  </head>
  <body>

    <div class="topCompany">
      <h1>Vikash Pizza</h1>
      <h2>No. 1, Shollinganallur, Chennai, 600119</h2>
    </div>

    <h1>My Pizza List</h1>
    <div class="newForms">
      <form class="selectedPizza" action="{% url 'index' %}" method="post">
      {% csrf_token %}
        <select class="pizzasList" id="myPizzaID" name="pizzaNameSelected" required>
            <option value="" disabled selected>Select your pizza</option>
            {% for pizza in pizzas %}
              <option value="{{pizza.id}}">{{pizza.name}}</option>
            {% endfor %}
        </select>
        <select class="pizzaSizeAvailable" id="myPizzaSizeID" name="pizzaSizeSelected" required>
            <option value="" disabled selected>Select your size</option>
            {% for pizzaSize in pizzaSizes %}
              <option value="{{pizzaSize.id}}">{{pizzaSize.size}}</option>
            {% endfor %}
        </select>
        <select multiple class="toppingsAvailable" id="myToppingsID" name="toppingSelected">
            <option value="" disabled selected>Select your toppings</option>
            {% for topping in toppings %}
              <option value="{{topping.id}}">{{topping.toppingName}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="OK">
      </form>
    </div>
    <h3>Pizza Cost = {{cost}}</h3>
  </body>
</html>
