<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vikash Pizza</title>
  </head>
  <body>

    <div class="topCompany">
      <h1>Vikash Pizza</h1>
      <h2>No. 1, Shollinganallur, Chennai, 600119</h2>
    </div>

    <div class="menuBar">
        <div class="home">
          Home
        </div>
        <div class="menu">
          Menu
        </div>
        <div class="contact">
          Contact Us
        </div>
    </div>

    <div class="ourMenu">
      <h1>Our Menu</h1>
      
    </div>
  </body>
</html>
